.totalBack{
    -fx-background-color: darkgrey;
}

.scoreBoxBlue{
    -fx-background-color: lightskyblue;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.5, 0, 0);
}

.scoreBoxRed{
    -fx-background-color: lightcoral;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.5, 0, 0);
}

.scoreText {
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.5, 0, 0);
}

.currentScoreText {
    -fx-font-size: 48;
    -fx-font-weight: bold;
}

.previousScoreText {
    -fx-font-size: 32;
    -fx-font-weight: bolder;
}

.oldScoreText {
    -fx-font-size: 24;
}

.team {
    -fx-font-size: 56;
    -fx-font-weight: bolder;
}